<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Armadillo Project</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
      * {
        margin: 0;
        font-family: Poppins, Helvetica, sans-serif;
        background-color: #dddddd;
      }

      body {
        padding: 25px;
      }

      button {
        font-size: 20px;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        flex: 1;
        color: white;
        background-color: rgb(48, 48, 48);
        cursor: pointer;
        border: none;
        transition-duration: 0.4s;
      }

      button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }

      .tables {
        display: flex;
        justify-content: space-around;
      }

      .table {
        display: none;
      }

      .table.show {
        display: table; /* change display to table instead of block */
      }

      tr th {
        text-align: center;
      }

      .inputs {
        padding: 15px;
      }

      #find-common-names {
        padding-top: 50px;
        font-weight: bold;
      }

      .req4-options {
        display: flex;
        width: 100%;
        flex-wrap: true;
        justify-content: space-evenly;
      }

      .inputs3 {
        padding-top: 40px;
      }

      input {
        border-radius: 5px;
        border: 2px solid black;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <h1>{{ script }} script has been run!</h1>

    <div class="tables">
      <div class="table" id="male-table">
        <h2>Male Data</h2>
        {{ tableMale|safe }}
        <a href="{{ url_for('download_csv', gender='male', script=script) }}"
          >Download Male Names CSV</a
        >
      </div>

      <div class="table" id="female-table">
        <h2>Female Data</h2>
        {{ tableFemale|safe }}
        <a href="{{ url_for('download_csv', gender='female', script=script) }}"
          >Download Female Names CSV</a
        >
      </div>
    </div>

    <button onclick="window.location.href='/';">Back</button>

    <button onclick="toggleMaleTable()">Show/Hide Male Names</button>
    <button onclick="toggleFemaleTable()">Show/Hide Female Names</button>

    <br />
    <button onclick="compare()" style="background-color: coral">
      Compare to another location
    </button>

    <button id="popular-names-male-btn" class="btn btn-primary">
      Get male popular names
    </button>
    <button id="popular-names-female-btn" class="btn btn-primary">
      Get female popular names
    </button>

    <hr />
    <h2 id="latestCountry"></h2>
    <div class="req4-options">
      <div class="inputs">
        <h2 id="find-common-names">Find Common Names</h2>
        <p>Please select a gender and enter a year</p>
        <h2>Select Gender:</h2>
        <select id="gender-select">
          <option value="Males">Males</option>
          <option value="Females">Females</option>
        </select>

        <h2>Enter Year:</h2>
        <input type="number" id="year-input" required />
        <p>Min: <span id="min-year"></span></p>
        <p>Max: <span id="max-year"></span></p>

        <button
          id="common-names-btn"
          style="display: none; background-color: coral"
          onclick="commonNamesBtn()"
        >
          Find Common Names
        </button>
      </div>

      <hr />
      <div class="inputs2">
        <h2 id="find-common-names">Find Frequency of Name</h2>
        <p>Please select a gender, and enter a year and name</p>
        <h2>Select Gender:</h2>
        <select id="gender-select-name">
          <option value="Males">Males</option>
          <option value="Females">Females</option>
        </select>

        <h2>Enter Year:</h2>
        <input type="number" id="year-input-name" required />
        <p>Range of years for Males: {{ minMaleYear }} - {{ maxMaleYear }}</p>
        <p>
          Range of years for Females: {{ minFemaleYear }} - {{ maxFemaleYear }}
        </p>

        <h2>Enter Name:</h2>
        <input type="text" id="name-input-name" required />
        <br />

        <button id="name-finder-btn" onclick="nameFinder()">Find Name</button>
      </div>

      <hr />
      <br />
      <div class="inputs3">
        <h2 id="find-gender-names">Find Gender Neutral Names</h2>
        <p>Please enter a year</p>
        <h2>Enter Year:</h2>
        <input type="number" id="year-input-gender" required />
        <p>Range of years for Males: {{ minMaleYear }} - {{ maxMaleYear }}</p>
        <p>
          Range of years for Females: {{ minFemaleYear }} - {{ maxFemaleYear }}
        </p>

        <button id="name-gender-btn" onclick="genderNames()">Find Names</button>
      </div>
    </div>

    <script>
      document
        .getElementById("popular-names-male-btn")
        .setAttribute(
          "onclick",
          "location.href='/popular_names/{{ script }}/Males';"
        );

      document
        .getElementById("popular-names-female-btn")
        .setAttribute(
          "onclick",
          "location.href='/popular_names/{{ script }}/Females';"
        );
      //main part

      var latestCountry = localStorage.getItem("latestCountry");

      if (latestCountry && latestCountry != "{{ script }}") {
        document.getElementById("latestCountry").innerHTML =
          "Your latest place is: " + latestCountry;
        document.getElementById("common-names-btn").style.display = "block";
      } else {
        document.getElementById("latestCountry").innerHTML =
          "You can't compare the same country";
        document.querySelector(".inputs").style.display = "none";
      }

      function commonNamesBtn() {
        var genderSelect = document.getElementById("gender-select");
        var gender = genderSelect.options[genderSelect.selectedIndex].value;

        var yearInput = document.getElementById("year-input");
        var year = yearInput.value;

        window.location.href = `/common_names/{{ script }}/${latestCountry}/${gender}/${year}`;
      }

      function findCommonNames() {
        var genderSelect = document.getElementById("gender-select");
        var gender = genderSelect.options[genderSelect.selectedIndex].value;

        var yearInput = document.getElementById("year-input");
        var year = yearInput.value;

        var url =
          "/common_names/" +
          "{{ script }}" +
          "/" +
          latestCountry +
          "/" +
          gender +
          "/" +
          year;
        window.location.href = url;
      }

      function compare() {
        alert("Warning this will override the previous country you selected.");

        var latestCountry = "{{ script }}";
        localStorage.setItem("latestCountry", latestCountry);
        window.location.href = "/";
      }

      function toggleMaleTable() {
        var table = document.getElementById("male-table");
        table.classList.toggle("show");
      }

      function toggleFemaleTable() {
        var table = document.getElementById("female-table");
        table.classList.toggle("show");
      }

      function downloadCSV(gender, script) {
        var csvUrl = `./${script}/${script}${gender}s.csv`;
        var downloadLink = document.createElement("a");
        downloadLink.href = csvUrl;
        downloadLink.download = `${script}${gender}s.csv`;
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      }

      function nameFinder() {
        const gender = document.getElementById("gender-select-name").value;
        const year = document.getElementById("year-input-name").value;
        const name = document.getElementById("name-input-name").value;
        window.location.href = `/name_finder/{{ script }}/${gender}/${year}/${name}`;
      }

      function genderNames() {
        const year = document.getElementById("year-input-gender").value;
        window.location.href = `/gender_neutral/{{ script }}/${year}`;
      }

      $.ajax({
        type: "GET",
        url: "/get-year-range",
        data: {
          latestCountry: localStorage.getItem("latestCountry"),
          script: "{{ script }}",
        },
        dataType: "json",
        success: function (data) {
          $("#min-year").text(data.minYear);
          $("#max-year").text(data.maxYear);
          $("#common-names-btn").show();
        },
        error: function (xhr, status, error) {
          console.error(error);
        },
      });
    </script>
  </body>
</html>
